body {
  font-family: 'arial';
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-title {
  text-align: center;
  font-size: 50px;
  color: #b6b428;
  margin-top: 1%;
}

.play-button {
    margin-left: 45%;
    text-align: center;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.play-button:hover {
    background-color: #b6b428;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.game-window {
  height: 600px;
  width: 600px;
  position: relative;
  margin: 50px auto;
  border: 10px solid #000;
}

.snake-module {
  height: 3%;
  width: 3%;
  position: absolute;
  border: 1px solid #fff;
  background-color: #b6b428;
  z-index: 999;
}

.snake-food {
  height: 3%;
  width: 3%;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: blue;
}

.score {
  text-align: center;
  font-size: 50px;
}