body {
  font-family: 'arial';
}

.main-title {
  text-align: center;
  font-size: 50px;
  color: #b6b428;
  margin-top: 2%;
}

.play-button {
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  display: flex;
}

.game-window {
  height: 600px;
  width: 600px;
  position: relative;
  margin: 50px auto;
  border: 10px solid #000;
}

.snake-module {
  height: 3%;
  width: 3%;
  position: absolute;
  border: 1px solid #fff;
  background-color: #b6b428;
  z-index: 999;
}

.snake-food {
  height: 3%;
  width: 3%;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: blue;
}

.score {
  text-align: center;
  font-size: 50px;
}