body {
  font-family: 'arial', serif;
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(40, 126, 1);
  border-radius: 50%;
  display: inline-block;
}

.snake-food {
  height: 3%;
  width: 3%;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: blue;
}

.score {
  text-align: center;
  font-size: 20px;
}